.contact{
    width: 100%;
    min-height: 100vh;
    background: url('../assets/contact-bg.png');
    object-fit: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 50px;
    justify-content: center;
    width: 50%;
}
.contact_left p{
    line-height: 25px;
}
#icon{
    width:30px;
    height: 30px;
}
.contact_right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}
.contact_right form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    font-size: 4vh;
}
.contact_right form input{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background-color: #D1F3FF;
    outline: none;
    border: none;
    font-size: 3vh;
    padding: 10px 10px;
}
.contact_right form button{
    background-color: #03A4ED;
    border: none;
    outline: none;
    font-size: 3vh;
    padding: 10px 20px;
    border-radius: 20px;
}

@media (max-width: 768px) {
   .contact{
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 50px;
    overflow: hidden;
    background-color: #FE3F40;
   }
   .contact_left{
    width: 90%;
    padding: 0px;
    margin: 0px;
    gap: 20px;
    margin-top: 100px;
    height: auto;
   }
   .contact_left h1{
    font-size: 3vh;
   }
   .contact_left h2{
    font-size: 3vh;
   }
   .contact_left h3{
    font-size: 2.5vh;
   }
   .contact_left p{
    font-size: 2vh;
   }
   .contact_right{
    width: 90%;
    padding: 0px;
    margin: 0px;
    gap: 0px;
    margin-bottom: 20px;
    /* height: auto; */
   }
   .contact_right form{
    width: 100%;
   }
   .contact_right form input{
    font-size: 2vh;
   }
   .contact_right form button{
    font-size: 2vh;
   }
}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){

}
@media (min-width: 1920px) {

}