.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center; 
    border-top: 1px solid white;
}

/* Responsive adjustments for tablets and smaller screens */
@media (max-width: 1024px) {
    .footer {
        font-size: 2.2vh; 
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: 1.8vh; 
        padding: 8px; 
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .footer {
        font-size: 1.8vh; 
        padding: 8px; 
    }
}