.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    cursor: pointer;
    background-color:#FAFAFA;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.logo{
    color: blue;
    font-weight: bold;
    font-size: 4vh;
}
.logo span{
    color: red;
}
.nav_elements ul{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    font-size: 3vh;
}
.nav_elements ul li a{
    text-decoration: none;
    color: black;
}
.nav_elements ul li a:hover{
    color: #fe4b4b;
}
.nav_elements ul li button:hover{
    background-color: #03A4ED;
}
.nav_elements ul li button{
    background-color: #fe4b4b;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 2.5vh;
    /* font-weight: 600; */
}
